# How to read parquet file by connecting to s3 bucket and reading parquet file.

## With pyathena

In [1]:
! pip install PyAthena

Collecting PyAthena
  Downloading PyAthena-2.3.0-py3-none-any.whl (37 kB)
Requirement already satisfied: tenacity>=4.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (8.0.0)
Requirement already satisfied: botocore>=1.5.52 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.21.21)
Requirement already satisfied: boto3>=1.4.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from PyAthena) (1.18.21)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.5.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3>=1.4.4->PyAthena) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (1.26.6)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore>=1.5.52->PyAthena) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.5.52->PyAthena) (1.15.0)
Installing collected packages: PyAthena
Successfully installed PyAthena-2.3.0
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
from pyathena import connect
from pyathena.pandas.cursor import PandasCursor
from pyathena.pandas.util import as_pandas

In [3]:
from datetime import datetime

In [4]:
print(datetime.now())

2021-08-25 12:25:30.099921

In [12]:
t1 = datetime.now()
cursor = connect(s3_staging_dir='s3://aquila-dev-bucket/aquila_sagemaker_metadata/',
                 region_name='us-east-1',
                 cursor_class=PandasCursor).cursor()
#df = cursor.execute("SELECT * FROM many_rows").as_pandas()
print("Total time taken for connection : {}".format(datetime.now() - t1))
t2 = datetime.now()
df = as_pandas(cursor.execute("SELECT * FROM awsdatacatalog.telemetry_data.phoenix_logs_parquet where year = '2020' and month ='02' and day ='08' LIMIT 100"))
print("Total time taken for querying data : {}".format(datetime.now() - t2))
#df = as_pandas(cursor)
#print(df.describe())

Total time taken for connection : 0:00:00.063139
Total time taken for querying data : 0:00:02.874443

In [17]:
#print(df.describe())
#print(df.head())
print(cursor.state)
print(cursor.state_change_reason)
print(cursor.completion_date_time)
print(cursor.submission_date_time)
print(cursor.data_scanned_in_bytes)
print(cursor.total_execution_time_in_millis)
print(cursor.output_location)
#print(df.describe())

SUCCEEDED
None
2021-08-25 12:28:25.007000+00:00
2021-08-25 12:28:23.777000+00:00
3353056
1230
s3://aquila-dev-bucket/aquila_sagemaker_metadata/a8f86caa-1f84-4454-92f8-9f4eed674aec.csv

In [13]:
df

,ts,service,type,tbl,job_status,attempt_no,workload,job_session_target_id,job_stime,resource_id,...,vm_error_msg,is_ebs_snapshot_exist,job_error_msg,vm_duration,job_error_code,clientid_2648281206,tablename,year,month,day
0,1581174004851564032,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
1,1581192118771632896,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
2,1581174004993391104,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
3,1581192123822118144,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
4,1581174005603941888,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1581192200244784128,PhoenixStorageNodeWorker,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
96,1581174048733299968,PhoenixStorageNode,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
97,1581192200771684864,PhoenixVMwareConfig,telemetry,NaN,NaN,0,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
98,1581174050080893952,PhoenixStorageNode,telemetry,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08
99,1581192201365875968,PhoenixVMwareConfig,telemetry,NaN,NaN,0,NaN,<NA>,<NA>,<NA>,...,NaN,None,NaN,<NA>,<NA>,<NA>,NaN,2020,02,08

In [2]:
!pip install awswrangler

Collecting awswrangler
  Downloading awswrangler-2.10.0-py3-none-any.whl (184 kB)
     |████████████████████████████████| 184 kB 28.9 MB/s eta 0:00:01
Collecting redshift-connector~=2.0.882
  Downloading redshift_connector-2.0.885-py3-none-any.whl (94 kB)
     |████████████████████████████████| 94 kB 642 kB/s  eta 0:00:01
Collecting pg8000<1.21.0,>=1.16.0
  Downloading pg8000-1.20.0-py3-none-any.whl (34 kB)
Requirement already satisfied: pandas<2.1.0,>=1.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.1.5)
Requirement already satisfied: boto3<2.1.0,>=1.16.8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.18.21)
Collecting pymysql<1.1.0,>=0.9.0
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 168 kB/s  eta 0:00:01
Requirement already satisfied: pyarrow<4.1.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (4.0.1)
Requirement already satisfied: openpyxl~=3.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (3.0.6)
Requirement already satisfied: numpy<2.1.0,>=1.18.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.19.5)
Requirement already satisfied: botocore<2.1.0,>=1.19.8 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.21.21)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3<2.1.0,>=1.16.8->awswrangler) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3<2.1.0,>=1.16.8->awswrangler) (0.5.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<2.1.0,>=1.19.8->awswrangler) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<2.1.0,>=1.19.8->awswrangler) (1.26.6)
Requirement already satisfied: jdcal in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from openpyxl~=3.0.0->awswrangler) (1.4.1)
Requirement already satisfied: et-xmlfile in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from openpyxl~=3.0.0->awswrangler) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas<2.1.0,>=1.1.0->awswrangler) (2021.1)
Collecting scramp>=1.4.0
  Downloading scramp-1.4.0-py3-none-any.whl (8.4 kB)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.1.0,>=1.19.8->awswrangler) (1.15.0)
Requirement already satisfied: packaging in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.882->awswrangler) (20.9)
Requirement already satisfied: lxml>=4.6.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.882->awswrangler) (4.6.3)
Requirement already satisfied: requests<2.25.2,>=2.23.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.882->awswrangler) (2.25.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.882->awswrangler) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift-connector~=2.0.882->awswrangler) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.882->awswrangler) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.882->awswrangler) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.882->awswrangler) (2.10)
Requirement already satisfied: asn1crypto==1.4.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from scramp>=1.4.0->pg8000<1.21.0,>=1.16.0->awswrangler) (1.4.0)
Requirement already satisfied: pyparsing>=2.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from packaging->redshift-connector~=2.0.882->awswrangler) (2.4.7)
Installing collected packages: scramp, redshift-connector, pymysql, pg8000, awswrangler
Successfully installed awswrangler-2.10.0 pg8000-1.20.0 pymysql-1.0.2 redshift-connector-2.0.885 scramp-1.4.0
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [3]:
import awswrangler as wr

In [9]:
%%time
df = wr.athena.read_sql_query(
    sql="SELECT * FROM {} where year = '2020' and month ='02' and day ='08' LIMIT 100".format("awsdatacatalog.telemetry_data.phoenix_logs_parquet"), database="telemetry_data"
)

CPU times: user 680 ms, sys: 8.56 ms, total: 689 ms
Wall time: 5.1 s

In [10]:
df.head(2)

,ts,service,type,tbl,job_status,attempt_no,workload,job_session_target_id,job_stime,resource_id,...,vm_error_msg,is_ebs_snapshot_exist,job_error_msg,vm_duration,job_error_code,clientid_2648281206,tablename,year,month,day
0,1581127710497745152,PhoenixStorageNodeWorker,telemetry,<NA>,<NA>,<NA>,SQL,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2020,02,08
1,1581135151810349056,PhoenixStorageNodeWorker,telemetry,<NA>,<NA>,<NA>,SQL,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2020,02,08